tbody > tr:nth-of-type(odd){
    background-color: rgb(236, 236, 236);
}

.table {
    width: 80%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}

.inputs-modal {
    border: 1px solid #412972;
    width: 350px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    left: 6px;
    text-align: center;
}



.button-modal-update-produto {
    width: 180px;
    height: 30px;
    border-radius: 5px;
    background-color: #412972;
    border: 1px solid #412972;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste {
    background-image: linear-gradient(45deg,black,rgb(103, 130, 204, 0.6));
    width: 100%;
    height: 100vh;
}